$textColor: #bfbfbf;
$headingColor: #ffffff;
$whileColor: #ffffff;
$linkColor: #bfbfbf;
$blackColor2: #383838;
$blackColor3: #272727;

$redColor: #f36b7f;
$greenColor: #70d18c;
$yellowColor: #ffcf96;

$bgColor: #1d1d1d;
$bgBtnColor: rgba(255, 255, 255, 0.1);

$fontSize: 1.6rem;
$font: "Manrope", sans-serif;
